<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Angular Demo Sample</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="resources/custom/css/style.css">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container" ng-controller="TODOController">
		<!-- Container Start -->
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>TODO List</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<input type="text" class="form-control"
					ng-model="newTaskDescription"> <br>
				<button type="button" class="btn btn-primary" ng-click="addTask()">Add
					Task</button>
			</div>
		</div>
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<hr>

				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="task in taskList">
							<td><input type="checkbox" ng-model="task.done"></td>
							<td class="done-{{task.done}}">{{task.description}}</td>
							<td><button type="button" class="btn btn-primary btn-xs"
									ng-click="deleteTask(task)">Delete Task</button>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="editTask(task)">Edit Task</button></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>



		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Edit Task</h4>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control"
							ng-model="editTaskDescription"> <br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-xs" ng-click="saveEditTask()">Save</button>
						<button type="button" class="btn btn-primary btn-xs" ng-click="cancelEditTask()">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Container End -->

	<script type="text/javascript"
		src="resources/js/jquery/jquery-1.11.2.min.js"></script>
	<script type="text/javascript"
		src="resources/js/bootstrap/bootstrap.js"></script>
	<script type="text/javascript"
		src="resources/js/angular/angular.1.2.16.js"></script>
	<script type="text/javascript" src="resources/custom/js/app.js"></script>
	<script type="text/javascript" src="resources/custom/js/controllers.js"></script>
</body>
</html>